/******************************************************************************\
|                                                                              |
|                               _lightboxes.scss                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016 - 2025, Megahed Labs LLC, www.sharedigm.com        |
\******************************************************************************/

@use '../colors/colors';

//
// variables
//

$button-size: 30px;
$nav-button-size: 50px;
$round-border-radius: 15px;
$rounded-border-radius: 5px;
$background-color: colors.$very-very-dark-grey;
$backdrop-color: colors.faded(colors.$very-very-dark-grey, 75%);

//
// styles
//

.fancybox-toolbar .fancybox-button,
.fancybox-navigation .fancybox-button svg {
	width: $button-size;
	height: $button-size;
	padding: 3px;
	background-color: $backdrop-color;

	svg path {
		fill: colors.$very-very-light-grey;
	}

	&:hover {
		svg path {
			fill: white;
		}
	}
}

.fancybox-toolbar {
	padding: 0 5px;

	.fancybox-button {
		margin: 5px;
	}
}


//
// nav buttons
//

.fancybox-navigation {
	.fancybox-button {
		background: none !important;
		padding: 0;

		div {
			height: auto;

			svg {
				width: 50px;
				height: 50px;
			}
		}
	}
}

//
// button borders
//

.round-buttons,
.round.auto-corner-buttons {
	.fancybox-toolbar a,
	.fancybox-navigation svg {
		border-radius: $round-border-radius;
	}
}

.rounded-buttons,
.rounded.auto-corner-buttons {
	.fancybox-toolbar a,
	.fancybox-navigation svg {
		border-radius: $rounded-border-radius;
	}
}

//
// captions
//

.fancybox-caption {
	font-size: 1.25em;
	font-style: italic;
	padding: 9px;
	background: $backdrop-color;
}

.fancybox-is-open .fancybox-bg {
	opacity: 1;
	background-color: $background-color;
}

.fancybox-thumbs__list a::before {
	border: 3px solid var(--primary-color);
}

.fancybox-thumbs {
	background-color: $background-color;
}