/***************************************************************\
|                          font styles                          |
\***************************************************************/

@font-face {
	font-family: 'Chomsky';
	src: url('chomsky.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

