/***************************************************************\
|                          font styles                          |
\***************************************************************/

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-light.otf') format('opentype');
	font-weight: light;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Medium.otf') format('opentype');
	font-weight: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Bold.otf') format('opentype');
	font-weight: bold;
}