/***************************************************************\
|                          font styles                          |
\***************************************************************/

@font-face {
	font-family: 'Cameron Sans';
	src: url('CameronSansLight.ttf') format('truetype');
	font-weight: light;
	font-style: normal;
}

@font-face {
	font-family: 'Cameron Sans';
	src: url('CameronSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cameron Sans';
	src: url('CameronSansExtraBold.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}